<!-- <h2>{{header}}</h2> -->
<div class="row">
  <div class="plant-card col-3" ng-repeat="plant in plantArr">
    <img src="{{plant.img}}">
    <h6>{{plant.name}}</h6>
    <p>Log new water date:</p>
    <input placeholder="{{plant.water_date}}" moment-picker="ctrl.dateFormatted" change="updateWaterDate(newValue._i, plant.fbID)" format="MM/DD/YYYY" today="true" autoclose="true" start-view="month" max-date="maxSelectDate">
    <!-- <p>{{plant.water_req}}</p> -->
    <p>Notes:</p>
    <p>{{plant.notes}}</p>
  </div>
</div>
