<div id="plantContainer" class="row">
    
  <div class="plant-card col-4" ng-repeat="plant in plantArr">
    <img class="plant-pic" src="{{plant.img}}">
    <div class="icon-field">
      <img class="delete-btn" ng-click="removePlant(plant.fbID)" src="../img/delete-btn.png">
      <img class="shovel-icon" ng-show="plant.sowSeason" src="../img/shovel.png">
      <img class="actionReq" ng-show="plant.sowSeason" src="../img/alert.png">
    </div>
    <div>
      <h5 class="plant-name">{{plant.name}}</h5>
      <p class="notesBtn" ng-click="showNotePopUp(plant)">View/Edit Notes</p>
      <p>Last Plant Date: {{plant.userPlant_date}}</p>
      <button type="button" class="btn btn-success btn-sm" ng-click="changePlantStatus(plant.fbID, 'to-plant')">Plant Again</button>
      <div class="get-more-info" ng-click="showPopover(plant)">
        <p>Get More Info</p>
      </div>
    </div>  
  </div>

</div>
  
  
  <!-- pop up for more plant info -->
  <div class="popover" ng-show="popoverIsVisible" ng-mouseleave="hidePopover()">
    <div class="pop-plant-card">
      <img class="plant-pic" src="{{popoverPlant.img}}">
      <h6 class="plant-name">{{popoverPlant.name}}</h6> 
      <div ng-show="popoverPlant.status ==='to-plant' || 'archived-plant'"> 
        <p><span class="topic">Plant Date Considerations:</span><br> {{popoverPlant.plant_date}}</p>
        <p><span class="topic">Planting Location:</span><br> {{popoverPlant.sun_req}}</p>
        <p><span class="topic">Growing From Seed:</span><br> {{popoverPlant.growing_from_seed}}</p>
      </div>
      <p><span class="topic">My Notes:</span><br> {{popoverPlant.notes}}</p>
    </div>
  </div>
  
  <!-- pop up for user notes -->
    <div class="popover" ng-show="notePopoverIsVisible" ng-mouseleave="hidePopover()">
      <div class="icon-field">
        <img class="delete-btn" ng-click="hidePopover()" src="../img/delete-btn.png">
      </div>
      <div class="form-group">
          <label for="comment">myNotes:</label>
          <textarea class="form-control" ng-model="popoverPlant.notes" rows="5" id="comment"></textarea>
      </div>
      <button type="button" class="btn btn-success btn-sm" ng-click="updateUserPlant('notes', popoverPlant.notes, popoverPlant.fbID)">Update Notes</button>
    </div>
  
  
  </div>
  