<!-- <div id="searchField"> -->
  <input id = "searchEntry" type="text" ng-model="searchTerm" placeholder="Search By Plant Name">
  <!-- <button id="searchBtn" ng-click="searchDB()">Search</button> -->
  <button type="button" class="btn btn-outline-success" ng-click="searchDB()">Search</button>
</div>

<div ng-repeat="plant in searchResult">
  
  <div class="search-result">
    <h6 class="search-result-name">{{plant.name}}</h6>  
        <img class="add-btn" ng-click="addPlant(plant.id)" src="../img/add-btn.png">
        <img class="query" ng-click="showPopover(plant)" src="../img/query.jpg">
  </div>

  <!-- pop up -->
  <div class="popover" ng-show="popoverIsVisible" ng-mouseleave="hidePopover()">
    <div class="icon-field">
        <img class="add-btn" ng-click="addPlant(popoverPlant.id)" src="../img/add-btn.png">
    </div>
    <img class="plant-pic" src="{{popoverPlant.image}}">
    <h6 class="plant-name">{{popoverPlant.name}}</h6>  
    <p>Suggested Planting Time: {{popoverPlant.when_to_plant}}</p>
    <p>Optimal Planting Location: {{popoverPlant.optimal_sun}}</p>
    <p>Other Considerations: {{popoverPlant.planting_considerations}}</p>
  </div>


<!-- </div>  -->

