
      <div class="input-group mb-3">
          <input type="text" ng-model="searchTerm" class="form-control" placeholder="Plant Name" aria-label="" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" ng-click="searchDB()">Search</button>
          </div>
      </div>

<!-- pop up for search results -->
<div class="popover" ng-show="resultDisplay">
  <div class="icon-field">
    <img class="delete-btn" ng-click="hidePopover()" src="../img/delete-btn.png">
  </div> 
  <div ng-repeat="plant in searchResult">  
    <div class="search-result">
      <h5 class="search-result-name">{{plant.name}}</h5>  
      <button type="button" class="btn btn-success btn-sm" ng-click="addPlant(plant.id)">Add Plant</button>
      <div class="get-more-info">
          <p ng-click="showPopover(plant)">Get More Info</p>
        </div>
    </div>

</div>

  <!-- shows for plant when click for more detail -->
  <div ng-show="popoverIsVisible" ng-mouseleave="hidePopover()">
    <img class="plant-pic" src="{{popoverPlant.image}}">
    <h6 class="plant-name">{{popoverPlant.name}}</h6>  
    <p><span class="topic">Suggested Planting Time:</span><br> {{popoverPlant.when_to_plant}}</p>
    <p><span class="topic">Optimal Planting Location:</span><br> {{popoverPlant.optimal_sun}}</p>
    <p><span class="topic">Other Considerations: </span><br>{{popoverPlant.planting_considerations}}</p>
  </div>


<!-- </div>  -->

